
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 94%;
    --foreground: 0 0% 20%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 20%;
    --primary: 0 0% 20%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 90%;
    --secondary-foreground: 0 0% 20%;
    --muted: 0 0% 90%;
    --muted-foreground: 0 0% 45%;
    --accent: 210 14% 53%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 88%;
    --input: 0 0% 88%;
    --ring: 210 14% 53%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 10%;
    --foreground: 0 0% 90%;
    --card: 0 0% 12%;
    --card-foreground: 0 0% 90%;
    --popover: 0 0% 12%;
    --popover-foreground: 0 0% 90%;
    --primary: 0 0% 90%;
    --primary-foreground: 0 0% 10%;
    --secondary: 0 0% 18%;
    --secondary-foreground: 0 0% 90%;
    --muted: 0 0% 18%;
    --muted-foreground: 0 0% 60%;
    --accent: 210 14% 60%;
    --accent-foreground: 0 0% 10%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 20%;
    --input: 0 0% 20%;
    --ring: 210 14% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body antialiased;
  }
}
